html{
    height: 100%;
}
body{
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    max-height: 780px;
}
.block-img{
    position: relative;
    height: 780px;
    width: 380px;
    background-image: url(../public/2022_10_05_0x1_Kleki.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.toolbar{
    position: relative;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    height: 700px;
    width: 70px;
    background-color: rgb(41, 41, 48);
}
.block-info{
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    height: 700px;
    width: 650px;
    background-color: rgb(41, 41, 48);
    overflow: auto;
    
}
.block-info-skill{
    margin: 1em;
    
}
.block-one-info-skill,
.block-two-info-skill,
.block-three-info-skill{
    display:flex;
    min-height: 190px;
    max-height: 290px;
    margin-top: 5px;
}
.user-name{
    bottom: 3.2em;
    left: 1.8em;
    color: white;
position: absolute;
font-family: 'Caveat', cursive;
font-weight: 700;
font-size: 2.50rem;

}
.user-post{
    color:rgb(5, 207, 32);
    bottom: 6em;
    left: 6.5em;
    font-weight: 700;
    position: absolute;
    font-family: 'Passion One', cursive;
}
.img-icon{
    position: absolute;
    bottom: 2em;
    left: 5.7em;
    right: 5.5em;
}
.block-years-location{
    display: flex;
    color: rgb(145, 141, 141);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}
p{
    margin: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color: rgb(5, 207, 32);
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.block-info-phone{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
li{
    margin-top: 5px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #4d4a4a;
}

